/.venv/
/__pycache__/
/db/__pycache__/
/middleware/__pycache__/
/controller/__pycache__/
/middleware/mail/__pycache__/
/middleware/mail/mailer.py
/middleware/helper/__pycache__/
/tasks/__pycache__/
.DS_Store